<!DOCTYPE html>
<html lang="pt">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Lista de Compras</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	<nav class="grey lighten-2" role="navigation">
		<div class="nav-wrapper container "><a id="logo-container" href="#" class="brand-logo blue-grey-text"><i
					class="material-icons">local_grocery_store</i>LISTA DE COMPRAS</a>
		</div>

	</nav>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<div class="row left">
				<a class="waves-light blue-grey btn" th:href="@{/listacompras/criar}">
					<i class="material-icons left">add_shopping_cart</i>CRIAR LISTA DE COMPRAS</a>

				<a class="waves-light blue-grey btn" th:href="@{/produto/criar}"
					sec:authorize="hasAnyRole('ROLE_ADMIN')">
					<i class="material-icons left">library_add</i>CRIAR PRODUTO</a>



				<form action="pesquisarListaCompras" method="post" id="pesquisarListaCompras"
					enctype="multipart/form-data">
					<input name="nomePesquisar" id="nomePesquisar" class="input-fiel col s8 validate"
						th:value="${nomePesquisar}" placeholder="pesquisar pelo nome da lista de compras">

					<button class="waves-light blue-grey btn col s4" style="margin-top:10px;" type="submit"
						name="action">PESQUISAR
						<i class="material-icons left">search</i>
					</button>
				</form>

			</div>
			<div class="row right">
				<a class=" waves-light blue-grey btn right" th:href="@{/logout}">
					<i class="material-icons left">exit_to_app</i>LOGOUT</a>
			</div>

			<div class="row center">
				<table class="centered highlight responsive-table">
					<thead>
						<tr>
							<th>Nº</th>
							<th>Data</th>
							<th>Nome</th>
							<th>Loja</th>
							<th>Produtos</th>
							<th>Editar</th>
							<th sec:authorize="hasAnyRole('ROLE_ADMIN')">Excluir</th>
						</tr>
					</thead>
					<tr th:each="lc : ${listaCompras}">
						<td th:text="${lc.id}"></td>
						<td th:text="${#dates.format(lc.data, 'dd/MM/yyyy')}"></td>
						<td th:text="${lc.nome}"></td>
						<td th:text="${lc.loja}"></td>
						<td><a class="waves-light blue-grey btn"
								th:href="@{/produtos/{idListaCompras}(idListaCompras=${lc.id})}"><i
									class="material-icons">add_box</i></a></td>
						<td><a class="waves-light blue-grey btn"
								th:href="@{/editarListaCompras/{idListaCompras}(idListaCompras=${lc.id})}"><i
									class="material-icons ">edit</i></a>
						</td>
						<td><a class="waves-light blue-grey btn" sec:authorize="hasAnyRole('ROLE_ADMIN')"
								th:href="@{/removerListaCompras/{idListaCompras}(idListaCompras=${lc.id})}"><i
									class="material-icons ">cancel</i></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<footer class="page-footer grey lighten-3">
		<div class="footer-copyright">
			<div class="container">
				<a class=" blue-grey-text" href="#">Copyright © Jorge Conduto</a>
			</div>
		</div>
	</footer>
</body>

</html>