<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Lista Compras</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	<nav class="grey lighten-2" role="navigation">
		<div class="nav-wrapper container "><a id="logo-container" href="#" class="brand-logo blue-grey-text"><i
					class="material-icons">local_grocery_store</i>LISTA DE COMPRAS</a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">

			<div class="row center">

				<br />
				<div th:each="m : ${msg}">
					<span th:text="${m}" />
				</div>
				<br />

				<div th:each="lc : ${listaComprasobj}">
					<div class="row">
						<p>Lista de Compras Nº <span th:text=" ${lc.id}"></span></p>
						<p><span th:text=" ${lc.nome}" /> # <span th:text="${#dates.format(lc.data, 'dd/MM/yyyy')}" />
						</p>
					</div>
				</div>

				<form th:action="@{/adicionarProdutoListaCompras/{idListaCompras}(idListaCompras=${listaComprasobj.id})}"
					method="post" class="col s12">
					<div class="row">
						<div class="input-field col s4">
							<label for="nome" class="active">Nome:</label>
							<select name="nome" class="browser-default" id="nome" />
							<option th:each="p : ${produtoslist}" th:value="${p.nome}" th:text="${p.nome}" />
							</select>
						</div>
						<div class="input-field col s4">
							<label class="active" for="quantidade">Quantidade:</label>
							<input type="number" id="quantidade" name="quantidade" class="validate">
						</div>
						<div class="input-field col s4">
							<button type="submit" name="action" class="waves-light blue-grey btn" value="Adicionar">
								<i class="material-icons left">add_box</i>Adicionar</button>
							<a class="waves-light blue-grey btn" th:href="@{/}">
								<i class="material-icons left">backspace</i>VOLTAR</a>
						</div>
					</div>
				</form>

				<table class="centered highlight responsive-table">
					<thead>
						<tr>
							<th>Nº</th>
							<th>Produto</th>
							<th>Quantidade</th>
							<th>Valor Total (€)</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tr th:each="p : ${produtos}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.nome}"></td>
						<td th:text="${p.quantidade}"></td>
						<td th:text="${p.valor}"></td>
						<td><a class="waves-light blue-grey btn"
								th:href="@{/removerProdutoListaCompras/{idProduto}(idProduto=${p.id})}"><i
									class="material-icons ">cancel</i></a> </td>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<footer class="page-footer grey lighten-3">
		<div class="footer-copyright">
			<div class="container">
				<a class=" blue-grey-text" href="#">Copyright © Jorge Conduto</a>
			</div>
		</div>
	</footer>
</body>

</html>